/*
               .__                                 .__         
 __ __   ____  |__|  ____    ____  _______   ____  |__|_____   
|  |  \ /    \ |  |_/ ___\  /  _ \ \_  __ \ /    \ |  |\__  \  
|  |  /|   |  \|  |\  \___ (  <_> ) |  | \/|   |  \|  | / __ \_
|____/ |___|  /|__| \___  > \____/  |__|   |___|  /|__|(____  /
            \/          \/                      \/          \/ 
Was made with sparkles of magic by the School of Magic Engineering, Unicornia Institute, Kingdom of Unicornia
God save the queen.
*/
@import url(https://fonts.googleapis.com/css?family=Nobile:400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
html,body {width: 100%;height: 100%;}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
}

body {
  background: linear-gradient(35deg, hsl(340, 100%, 80%) 30%, hsl(216, 100%, 80%) 70%);
  background-attachment: fixed;
}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(loader.gif) center no-repeat #fff;
}
span.desktop {
	margin-top: 1.5em;
    text-align: center;
    font-family: 'Dancing Script', sans-serif;
    font-size: 26px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#card-front {
  color: #FFDFDF;
}

#card, #card-front, #card-inside {
  height: 480px;
}

.wrap, .back {
    padding: 1.5em 2.5em;
    height: 100%;
}

.back {
    height: 75px;
    width: 75px;
	top: 50%;
    left: 50%;
    margin: 0 0 0 -40px;
}

#card-front, #card-inside {
  width: 50%;
  border-color: rgb(0, 0, 0, 0.5);
  border-width: 1px; /* this allows you to adjust the thickness */
  border-style: solid;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .5);
  -moz-box-shadow: 2px 2px 30px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .5);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .5);
  position: absolute;
  left: 50%;
}


#card-inside .wrap {
    background: #FFEFEF;
    -webkit-box-shadow: inset 2px 0 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 2px 0 1px rgba(0, 0, 0, .05);
    box-shadow: inset 2px 0 1px rgba(0, 0, 0, .05);
}
#card {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 960px;
	width: 100%;
	transform: translate(-50%, -50%);
    margin: 0 auto;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 5000px;
    -moz-perspective: 5000px;
    -webkit-perspective: 5000px;
}

#card h1 {
    text-align: center;
    font-family: 'Nobile', sans-serif;
    font-style: italic;
    font-size: 70px;
    text-shadow: 
        4px 4px 0px rgba(0, 0, 0, .15),
        1px 1px 0 rgba(255, 200, 200, 255),
        2px 2px 0 rgba(255, 150, 150, 255),
        3px 3px 0 rgba(255, 125, 125, 255);
    color: #FFF;
}
#card-inside {
    font-size: 1.1em;
    line-height: 1.4;
    font-family: 'Nobile';
    color: #331717;
    font-style: italic;
}

img {
    max-width: 100%;
    max-height: 100%;
}


p {
    margin-top: 1em;
}

p:first-child {
    margin-top: 0;
}

p.signed {
    margin-top: 1.5em;
    text-align: center;
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.5em;
}

#card-front {
    background-color: #FF5555;
    background-image: linear-gradient(top, #FF5555 0%, #FF7777 100%);
    background-image: -moz-linear-gradient(top, #FF5555 0%, #FF7777 100%);
    background-image: -webkit-linear-gradient(top, #FF5555 0%, #FF7777 100%);
            transform-origin: left;
       -moz-transform-origin: left;
    -webkit-transform-origin: left;
            transition:         transform 1s linear;
       -moz-transition:    -moz-transform 1s linear;
    -webkit-transition: -webkit-transform 1s linear;
    position: relative;
}

#card-front .wrap {
            transition: background 1s linear;
       -moz-transition: background 1s linear;
    -webkit-transition: background 1s linear;
}

#card-front button {
  position: absolute;
  bottom: 1em;
  right: -12px;
  background: #F44;
  color: #FFF;
  font-family: 'Nobile', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
  padding: .5em;
  border: none;
  cursor: pointer;
          box-shadow: 2px 2px 3px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .4);
     -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .4);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .4);
}

#card-front button:hover,
#card-front button:focus {
  background: #F22;
}

#close {
  display: none;
}

#card.open-fully #close,
#card-open-half #close {
  display: inline;
}

#card.open-fully #open {
  display: none;
}


#card.open-half #card-front,
#card.close-half #card-front {
            transform: rotateY(-90deg);
       -moz-transform: rotateY(-90deg);
    -webkit-transform: rotateY(-90deg);
}
#card.open-half #card-front .wrap {
    background-color: rgba(0, 0, 0, .5);
}

#card.open-fully #card-front,
#card.close-half #card-front {
  background: #FFEFEF;
}

#card.open-fully #card-front {
    transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
}

#card.open-fully #card-front .wrap {
    background-color: rgba(0, 0, 0, 0);
}

#card.open-fully #card-front .wrap *,
#card.close-half #card-front .wrap * {
   display: none;
}

#card .back {
  display: none;
}

#card.open-fully #card-front .back,
#card.close-half #card-front .back {
  display: inline;
}


footer {
  max-width: 500px;
  margin: 40px auto;
  font-family: 'Nobile', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #888;
  text-align: center;
}

.ribbon {
  position: absolute;
  top: 0;
  left: 5%;
  width: 30px;
  height: 600px;
  background: rgb(255,253,208, 0.7);
  border-color: rgb(0, 0, 0, 0.2);
  border-width: 1px; /* this allows you to adjust the thickness */
  border-style: solid;
  z-index: 1;
}

.knot {
  position: absolute;
  width: 25px;
  height: 90px;
  background: rgb(255,253,208, 0.9);
  border-color: rgb(0, 0, 0, 0.5);
  border-width: 1px; /* this allows you to adjust the thickness */
  border-style: solid;
  border-radius: 10%;
}

.knot-1 {
  top: 5%;
  left: 6%;
  transform: rotate(-40deg);
  z-index: 2;
}

.knot-2 {
  top: 5%;
  left: 5%;
  transform: rotate(40deg);
  z-index: 2;
}
#cake {
  display: block;
  position: relative;
  margin: -22em auto 0 auto;
}

/* ============================================== Candle
*/

.velas {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -2.4px;
  margin-top: 50px;
  width: 5px;
  height: 35px;
  transform: translateY(-300px);
  backface-visibility: hidden;
  animation: in 500ms 6s ease-out forwards;
}
.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}
.velas:after {
  top: 25%;
  left: 0;
}
.velas:before {
  top: 45%;
  left: 0;
}

/* ============================================== Fire
*/

.fuego {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -2.6px;
  width: 6.66666667px;
  height: 18px;
}
.fuego:nth-child(1) {
  animation: fuego 2s 6.5s infinite;
}
.fuego:nth-child(2) {
  animation: fuego 1.5s 6.5s infinite;
}
.fuego:nth-child(3) {
  animation: fuego 1s 6.5s infinite;
}
.fuego:nth-child(4) {
  animation: fuego 0.5s 6.5s infinite;
}
.fuego:nth-child(5) {
  animation: fuego 0.2s 6.5s infinite;
}

/* ============================================== Animation Fire
*/

@keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    transform: translateY(-20px) scale(0);
  }
}

@keyframes in {
  to {
    transform: translateY(0);
  }
}

.text {
  color: #8b6a60;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style:italic;
  text-align: center;
  h1 {
    font-size: 1.4em;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
	.ribbon {
		background: rgb(255,253,208);
		border-color: rgb(0, 0, 0);
	}

	.knot {
		background: rgb(255,253,208);
		border-color: rgb(0, 0, 0);
	}
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  
    p {
	font-size:60%;
  }

  #card h1 {
	font-size:24px;
	position: relative;
	margin: 70px 0 0 0;
    z-index: 2;
  }
  
  #cake {
	margin: -20em auto 0px -42px;
    z-index: 2;
  }
  
  .velas {
	margin-top:18px;
  }
  
  .back {
	margin: 0 0 0 -180px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
  
  p {
	font-size:80%;
  }

  #card h1 {
	font-size:56px;
	position: relative;
	margin: 70px 0 0 0;
    z-index: 2;
  }
  
  #cake {
	margin: -22em auto 0px 25px;
    z-index: 2;
  }
  
  .velas {
	margin-top:75px;
  }
  
  .back {
	margin: 0 0 0 -112px;
  }
  
  #card-front button {
	bottom: 4em;
  }

}